*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.main{
   background-color: hsl(210, 46%, 95%);
   height:100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

body{
   font-family: 'Barlow Semi Condensed', sans-serif;
}

.angry-grid {
   display: grid; 

   grid-template-rows: 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   
   gap: 20px;
   width:80%;
   max-width: 1500px;
   
}
  
#item-0 {

   background-color: hsl(263, 55%, 52%); 
   grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 2;
   grid-column-end: 3;
   border-radius: 10px;
   -webkit-box-shadow: 10px 10px 10px 1px rgba(224,224,224,1);
-moz-box-shadow: 10px 10px 10px 1px rgba(224,224,224,1);
box-shadow: 10px 10px 10px 1px rgba(224,224,224,1);
}

#item-0:hover{
   -webkit-animation: scale-up-center 0.4s both;
	        animation: scale-up-center 0.4s both;
           cursor: pointer;
           box-shadow: unset;
           z-index: 1;
}

#item-1:hover{
   -webkit-animation: scale-up-center 0.4s both;
	        animation: scale-up-center 0.4s both;
           cursor: pointer;
           box-shadow: unset;
}

#item-2:hover{
   -webkit-animation: scale-up-center 0.4s both;
	        animation: scale-up-center 0.4s both;
           cursor: pointer;
           box-shadow: unset;
}

#item-3:hover{
   -webkit-animation: scale-up-center 0.4s both;
	        animation: scale-up-center 0.4s both;
           cursor: pointer;
           box-shadow: unset;
}

#item-4:hover{
   -webkit-animation: scale-up-center 0.4s both;
	        animation: scale-up-center 0.4s both;
           cursor: pointer;
           box-shadow: unset;
}

#item-5:hover{
   -webkit-animation: scale-up-center 0.4s both;
	        animation: scale-up-center 0.4s both;
           cursor: pointer;
           box-shadow: unset;
}

#item-1 {

   background-color: hsl(217, 19%, 35%); 
   grid-row-start: 1;
   grid-column-start: 3;

   grid-row-end: 2;
   grid-column-end: 4;
   border-radius: 10px;
   -webkit-box-shadow: 10px 10px 10px 1px rgba(224,224,224,1);
-moz-box-shadow: 10px 10px 10px 1px rgba(224,224,224,1);
box-shadow: 10px 10px 10px 1px rgba(224,224,224,1);
}
#item-2 {

   background-color: white; 
   grid-row-start: 1;
   grid-column-start: 4;

   grid-row-end: 3;
   grid-column-end: 5;
   border-radius: 10px;
   -webkit-box-shadow: 10px 10px 10px 1px rgba(224,224,224,1);
-moz-box-shadow: 10px 10px 10px 1px rgba(224,224,224,1);
box-shadow: 10px 10px 10px 1px rgba(224,224,224,1);
}
#item-3 {

   background-color: white; 
   grid-row-start: 2;
   grid-column-start: 1;

   grid-row-end: 3;
   grid-column-end: 2;
   border-radius: 10px;
   -webkit-box-shadow: 10px 10px 10px 1px rgba(224,224,224,1);
-moz-box-shadow: 10px 10px 10px 1px rgba(224,224,224,1);
box-shadow: 10px 10px 10px 1px rgba(224,224,224,1);
}

#item-4 {

   background-color: hsl(219, 29%, 14%); 
   grid-row-start: 2;
   grid-column-start: 2;

   grid-row-end: 3;
   grid-column-end: 4;
   border-radius: 10px; 
   -webkit-box-shadow: 10px 10px 10px 1px rgba(224,224,224,1);
-moz-box-shadow: 10px 10px 10px 1px rgba(224,224,224,1);
box-shadow: 10px 10px 10px 1px rgba(224,224,224,1); 
}

.profile{
   display: flex;
   align-items: center;
   gap:10px;
   padding:20px 20px 0 20px;
}

.profile img{
   width:40px;
   border-radius: 100%;
}

.info{
   padding:20px 20px 0 20px;
}

.info .info1{
   color:white;
   font-size:1.2rem;
   font-size:600;
}

.info .info2{
   margin-top:15px;
   color:rgb(221, 221, 221);
   line-height: 1.5;
   font-size: 0.9rem;
   padding-bottom: 20px;
}

.text .text2{
   color:rgb(221, 221, 221);
   font-size: 0.8rem;
}

.text .text1{
   color:white;
}

.text .gray-text1{
   color:gray;
   font-size: 0.8rem;
}

.info .black-text1{
   font-size:1.2rem;
}

.info .gray-text1{
   color:gray;
   margin-top: 15px;
   line-height: 1.5;
   font-size:0.9rem;
}

@media only screen and (max-width: 810px){
   body{
      background-color:hsl(210, 46%, 95%);
   }

   .main{
      display:flex;
      height:100vh;
   }

   .angry-grid{
      width:95%;
      gap:10px;
   }
}

@media only screen and (max-width: 428px){
   .main{
      height:unset;
   }
   
   .angry-grid{
      display: flex;
      flex-direction: column;
      margin-top: 100px;
      margin-bottom: 100px;
      gap:20px;
   }

   .info .gray-text1{
      padding-bottom: 20px;
   }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-3-19 14:37:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-center {
   0% {
     -webkit-transform: scale(1);
             transform: scale(1);
   }
   100% {
     -webkit-transform: scale(1.1);
             transform: scale(1.1);
   }
 }
 @keyframes scale-up-center {
   0% {
     -webkit-transform: scale(1);
             transform: scale(1);
   }
   100% {
     -webkit-transform: scale(1.1);
             transform: scale(1.1);
   }
 }
 